* {
    font-family: "Product Sans";
}
.head {
    width: 50%;
    color: rgb(30, 30, 36);
}
.box {
    width: 45%;
    border: 5px solid rgb(110, 136, 152);
    background-color: rgb(30, 30, 36);
    border-radius: 12.5px;
    padding: 25px;
}
.error {
    background-color: red;
    border-left: 12.5px solid darkred;
    font-size: larger;
    padding-left: 10px;
    line-height: 8vh;
    color: white;
    margin-bottom: 10px;
}
.valid {
    background-color: green;
    border-left: 10px solid darkgreen;
    font-size: larger;
    padding-left: 10px;
    line-height: 8vh;
    color: rgb(213, 223, 229);
    margin-bottom: 10px;
}
.user {
    font-size: 15px;
}
.subscript {
    font-size: 15px;
}
.gen {
    color: rgb(213, 223, 229);
}
label {
    color: rgb(213, 223, 229);
    display: block;
    line-height: 39px;
    font-size: 19px;
    font-weight: bold;
}
span {
    color: red;
}
input {
    display: block;
    line-height: 25px;
    border: 3.69px solid rgb(110, 136, 152);
    border-radius: 12.5px;
    padding: 7.5px;
    margin-top: 2.5px;;
    margin-bottom: 12.5px;
}
input:invalid {
    border: 3.69px solid red;
}
input:focus {
    outline: none;
}
input[type="checkbox"], input[type="radio"] {
    display: inline;
}
button {
    display: block;
    background-color: rgb(110, 136, 152);
    border: 5px solid rgb(110, 136, 152);
    border-radius: 12.5px;
    padding: 7.5px;
    color: rgb(213, 223, 229);
    font-size: large;
    width: 215px;
    font-weight: bold;
}
